*,
*::after,
*::before{
    padding: 0;
    margin: 0;
    bottom: 0;
    box-sizing: border-box;
}

html{
    height: 100%;
    }

body{
    height: 100%;
    overflow: hidden;
}


.firstPage{
    width: 100%;
    height: 100vh;
position: relative;
}

.fon{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

}

.fon video{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.text{
    position: absolute;
    z-index: 20;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
    width: 100%;
    height: 100%;
    font-family: "Neucha", cursive;
    font-weight: 400;
    font-style: normal;
    color: rgb(249, 115, 0);
    font-size: 70px;
    letter-spacing: 2px;
    word-spacing: 10px;
    
}

.text h2{
    color: rgb(50, 1, 47);
    font-size: 32px;
    margin: 30px;
    text-align: center;
}

.box{
    width: 80%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(183, 186, 194, 0.5);
    border-radius: 16px;
    margin: 50px;
    font-size: 50px;
    color: rgb(130, 17, 49);
}

.link a{
    color: rgb(249, 116, 0);
    background-color: #f1eeee;
    padding: 20px;
    margin-bottom: 30px;
    padding-left: 10px;
    display: inline-block;
    font-size: 32px;
    border: 3px solid rgb(82, 76, 66);
    text-align: center;
    border-radius: 25px;
    text-decoration: none;
    transition: 1s;
}

.link a:hover{
    color: #f1eeee;
    background-color: rgba(249, 116, 0, 0.347) ;
}

.imgBtn {
    position: relative;
    size: 32px;
    margin-right: 15px;
    margin-left: 5px;
    height: 32px;
}
